:root {
    --transparent-white: rgba(255, 255, 255, 0.16);
    --transparent-white-border: rgba(255, 255, 255, 0.26);
    --yellow-color: #f2ff00;
    --black-color: #000000;
    --white-color: #ffffff;
    --login-bg-color: rgba(255, 247, 0, 0.1);
    --text-color-50: #ffffff80;
    --animation-duration: 24s;
    --services-totalItems: 6;
}

/* Banner Section */

.bnr-sec {
    background: url(../assets/1.\ Hero\ Section.png) no-repeat center/cover;
    background-attachment: fixed;
}

.title-1 {
    text-align: center;
}

.breadcrumb {
    margin: 40px auto;
    justify-content: center;
}

.breadcrumb-item {
    display: inline-flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.21);
    backdrop-filter: blur(60px);
    padding: 8px 16px !important;
}

.breadcrumb-link {
    color: var(--white-color);
    font-size: 16px;
    font-family: "Akira Expanded", sans-serif;
    font-weight: 900;
}

.breadcrumb-active {
    color: var(--yellow-color);
}

.square {
    width: 6px;
    height: 6px;
    background-color: var(--yellow-color);
    margin: 0 12px;
}

.hero-line {
    text-align: center;
}

.yellow-line {
    width: 24px;
    height: 59px;
    background-color: var(--yellow-color);
    display: inline-block;
    transform: skew(-30deg);
}

.yellow-line {
    margin-right: 10px;
}

.yellow-line:last-child {
    margin-right: 0;
}

/* About Section */

.bottomAbt-row {
    align-items: end;
}

.title-4,
.abtPara-box {
    border-bottom: 1px solid var(--transparent-white-border);
    padding-bottom: 31px;
}

.list-category {
    color: var(--white-color);
    font-size: 23px;
    margin-bottom: 28px;
}

.list-category:last-child {
    margin-bottom: 0;
}

.check-list {
    color: var(--yellow-color);
}

/* Service Section */
.srvc-sec {
    background: url(../assets/abt-pageServices.png) no-repeat center/cover;
}

.abtPg-swiper {
    max-width: 855px;
}

.title-trnsfrm {
    font-size: 36px;
}

.swiper-cntn {
    padding: 30px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
}

.slider-para {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
}

.mySwiper3 {
    overflow: hidden;
    max-width: 600px;
    padding-bottom: 45px;
}

.swiper-pagination {
    bottom: 0 !important;
    left: -41% !important;
}

/* Workout Section */

.location-sec {
    background: var(--black-color);
}

.location-row {
    margin: 30px 0 80px;
}

.button-slider {
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 12px;
    display: inline-block;
    outline: none;
    background: transparent;
    color: var(--white-color);
}

.btn-cntn {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 18px;
    font-weight: 500;
    padding: 6px 12px !important;
    text-transform: capitalize;
}

.button-slider.active-btn {
    border: 1px solid var(--yellow-color);
    background-color: var(--yellow-color);
    color: var(--black-color);
}

.btn-slideWidth {
    width: fit-content !important;
}

.enrollment-card {
    padding: 24px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 130px;
    max-width: 854px;
}

.card-bg {
    background: url(../assets/abtPage-filterCard.png) no-repeat center/cover;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 24px;
    position: relative;
    z-index: 1;
}

.cardImg {
    position: absolute;
    bottom: 0;
    z-index: -1;
    left: 10%;
}

.cardImg-1 {
    max-width: 401.17px;
}

.cardImg-2 {
    max-width: 296.68px;
}

.cardImg-3 {
    max-width: 327px;
}

.cardImg-4 {
    max-width: 794.88px;
    left: 0;
}

.cardImg-5 {
    max-width: 401.94px;
}

.cardImg-7 {
    max-width: 535px;
    left: 0;
}

.cardImg-8 {
    max-width: 473px;
    left: 0;
}

.cardImg>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.target-line {
    padding: 6px 12px !important;
    background-color: var(--yellow-color);
    color: var(--black-color);
    font-size: 15px;
    font-weight: 700;
    display: inline-block;
    margin-left: auto;
    text-transform: uppercase;
}

.trnsfrm-line {
    position: static;
    inset: 0;
    margin: 281px 0 10px;
}

.line-2 {
    width: 6.36px;
    height: 15.17px;
    margin-left: 5px;
}

.author {
    font-family: "Akira Expanded", sans-serif;
    font-weight: 900;
    font-size: 16px;
    color: var(--white-color);
}

.card-bottom {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topCard-cntn {
    text-align: end;
}

.nmbr {
    background-color: var(--yellow-color);
    display: inline-block;
    padding: 12px !important;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 12px !important;
}

.bottom-para {
    font-size: 25px;
    font-weight: 600;
    color: var(--white-color);
}

.bottom-para2 {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.5);
}

.bottom-btn {
    background: var(--yellow-color);
    color: var(--black-color);
    border: none;
    font-size: 27px;
    font-weight: 600;
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 16.5px 30px;
    display: inline-flex;
    align-items: center;
    transition: all 0.3s linear;
    text-transform: capitalize;
    cursor: pointer;
}

.btn-row {
    align-items: center;
}

.rgt-arw {
    margin-left: 10px;
    font-size: 24px;
    transition: 0.3s linear;
}

.bottom-btn:hover>.rgt-arw {
    transform: rotate(-30deg);
}

.bottom-btn:hover {
    color: var(--white-color);
    background: transparent;
}

.bottom-btn:after {
    content: "";
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

.bottom-btn:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.rate-btn {
    margin-top: 30px;
}

/* Contact Us Section */
.contact-sec {
    background: url(../assets/contact-us-bg.png) no-repeat center/cover;
    padding: 27.28px 0;
}

.relative-col {
    position: relative;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.black-lineBox {
    margin-left: 10px;
}

.blackLine {
    background: var(--black-color);
}

.label-cntn {
    margin-bottom: 10px;
}

.label-span {
    font-size: 16px;
    font-family: "Akira Expanded", sans-serif;
    font-weight: 900;
}

.input-text {
    min-height: 46px;
    font-size: 16px;
}

.msg-text {
    min-height: 150px;
}

.get-btn {
    max-width: 276px;
    color: var(--black-color);
    font-size: 16px;
}

.get-btn:after,
.get-btn::before {
    background: var(--yellow-color);
}

.intouch-cntn {
    max-width: 703px;
    padding: 36px;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.95) 0%,
            rgba(212, 255, 0, 0.734) 100%);
    backdrop-filter: blur(54px);
    position: absolute;
    top: -25%;
    border: 1px solid var(--yellow-color);

}

.mdl-cntn {
    margin: 50px 0;
}

.get-title {
    color: var(--yellow-color);
}


.mdl-para {
    margin: 24px 0;
}

.kit-item {
    display: flex;
    align-items: center;
    margin-top: 24px !important;
}

.kit-list {
    font-size: 18px;
    color: var(--white-color);
    margin-right: 24px;
}

.bottom-cntn {
    text-align: center;
}

.rs {
    font-size: 16px;
    font-weight: 600;
    color: var(--yellow-color);
    text-transform: uppercase;
}

.amnt {
    font-size: 108px;
    font-weight: 600;
    color: var(--white-color);
}

.plan {
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid var(--yellow-color);
    display: inline-block;
    text-transform: uppercase;
    color: var(--yellow-color);
    letter-spacing: 10.08px;
}

.bottom-end {
    margin-top: 50px;
}

.btn-2 {
    max-width: 100%;
    margin-bottom: 12px;
}

/* Goal Section */

.goal-sec {
    background: var(--black-color);
    padding: 280px 0 80px;
}

.border-col {
    border: 1px solid rgba(255, 255, 255, 0.2);

}

.goal-cntn {
    padding: 34px 82.33px 24px;
    position: relative;
    text-align: center;
}

.goal-nmbr {
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translateX(-50%);
}

.bullseye {
    max-width: 27px;
    margin: 0 auto;
}

.bullseye>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.goal-hdr {
    font-size: 25px;
    font-weight: 600;
    color: var(--white-color);
    margin-top: 10px !important;
}

.ylw-line {
    margin: 10px 0;
}

/* BMI Calculator Section */
.calc-sec {
    padding: 80px 0;
    position: relative;
}

.calc-sec::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url(../assets/fire.jpg) no-repeat center/cover;
    filter: grayscale(100%);
    z-index: -1;
    background-attachment: fixed;
}

.calc-sec>* {
    position: relative;
    z-index: 1;
}


.bmi-line {
    margin-left: 10px;
}

.bmi-label {
    color: var(--white-color);
}

.bmi-container {
    margin-bottom: 24px;
}

.bmi-btn {
    max-width: 234px;
}

.bmi-img-wrpr {
    max-width: 720px;
    height: 573px;
    margin: 0 auto;
    position: relative;
}

.bmi-img-wrpr>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.bmi-img-bg {
    width: 100%;
    /* ✅ add this */
    max-width: 500px;
    background: linear-gradient(to bottom,
            rgba(30, 30, 30, 1) 0%,
            rgba(30, 30, 30, 0) 100%);
    backdrop-filter: blur(54px);
    position: absolute;
    left: 40%;
    transform: scale(1.1);
    top: 0;
    bottom: 0;
}

.bmi-img {
    width: 100%;
    /* ✅ add this */
    max-width: 1103px;
    position: absolute;
    bottom: 0;
    right: 163px;
    top: -160px;
    scale: 1.7;
}

.bmi-img>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Sponsorship Section */

.spsh-sec {
    background: var(--black-color);
    padding: 80px 0;
}

.sponsorhip-animation {
    padding-block: 80px;
    position: relative;
    overflow: hidden;
    margin-top: 80px;
    transform: rotate(2deg) translateY(20px);
    cursor: pointer;
}

.autoScroll-item {
    width: 150px;
    position: absolute;
    animation: slideRight linear infinite;
    animation-duration: var(--animation-duration);
    animation-delay: calc(var(--animation-duration) / var(--services-totalItems) * ((var(--services-totalItems) - var(--i)) * -1));
}

@keyframes slideRight {
    0% {
        right: -10%;
    }

    100% {
        right: 110%;
    }
}

.nike {
    width: 173.96px;
}

.autoScroll-item>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.sponsorhip-animation:hover>.autoScroll-item {
    animation-play-state: paused;


}


/* Responsive Section */

@media screen and (max-width: 1200px) {

    /* Banner Section */
    .list-category:last-child {
        margin-bottom: 28px;
    }

    /* Service Section */
    .abtPara-box {
        justify-content: center;
        padding-bottom: 0;
    }

    .srvc-hdr {
        margin-bottom: 30px;
    }

    .swiper-pagination {
        left: 0 !important;
    }

    .title-trnsfrm {
        font-size: 30px;
    }

    .swiper-cntn {
        text-align: center;
    }

    /* Workout Section */
    .leftBottom-cntn {
        text-align: center;
    }

    .bottom-button {
        text-align: center;
        margin: 20px 0 0;
    }

    /* Contact Us Section */
    .intouch-cntn {
        position: static;
        margin: -100px auto 50px;
    }

    .rate-btn {
        text-align: center;
    }

    /* Goal Section */
    .col-last {
        margin: 50px auto 0 !important;
    }

    .goal-cntn {
        padding: 34px 0px 10px;
    }

    /* BMI Calculator Section */
    .bmi-img-wrpr {
        margin-top: 80px;
    }

    /* Sponsorship Section */
    @keyframes slideRight {
        0% {
            right: -20%;
        }

        100% {
            right: 150%;
        }
    }
}

@media screen and (max-width:992px) {

    /* BMI Calculator Section */
    .bmi-img-bg {
        left: 28%;
        transform: scale(1.1);
        top: 0px;
        bottom: 0;
    }

    .bmi-img {
        right: 118px;
        top: -121px;
        scale: 1.6;
    }

}

@media screen and (max-width: 768px) {

    /* Service Section */
    .title-trnsfrm {
        font-size: 21px;
    }

    /* Workout Section */
    .bottom-btn {
        font-size: 20px;
        padding: 16.5px 52.5px;
    }

    /* BMI Calculator Section */
    .bmi-img-bg {
        left: 13%;
        transform: scale(1);
        top: 0px;
        bottom: 0;
    }

    /* Sponsorship Section */
    .nike {
        width: 130.96px;
    }

    .autoScroll-item {
        width: 120px;
    }

}

@media screen and (max-width: 576px) {

    /* Banner Section */
    .bnr-sec {
        padding: 495.13px 0 50px;
    }

    .breadcrumb-list {
        font-size: 13px;
    }

    .yellow-line {
        width: 15px;
        height: 45px;
    }

    /* Service Section */
    .slider-para {
        font-size: 13px;
    }

    .title-trnsfrm {
        font-size: 16px;
    }

    /* Workout Section */
    .cardImg {
        left: 0;
    }

    .bottom-para {
        font-size: 20px;
    }

    .bottom-para2 {
        font-size: 12px;
    }

    .bottom-btn {
        display: inline-block;
        padding: 10px;
        font-size: 16px;
        text-align: center;
    }

    .rgt-arw {
        font-size: 15px;
    }

    .enrollment-card {
        margin-top: 100px;
    }

    /* Contact Us Section */
    .amnt {
        font-size: 64px;
    }

    .kit-item {
        flex-direction: column;
        align-items: start;
    }

    .kit-list {
        font-size: 14px;
    }

    .plan,
    .tndc {
        font-size: 12px;
    }

    /* Goal Section */
    .goal-sec {
        padding: 80px 0;
    }

    .goal-cntn {
        padding: 34px 0px 10px;
    }

    .border-col {
        margin-top: 20px;
    }

    .goal-hdr {
        font-size: 16px;
    }

    /* BMI Calculator Section */
    .bmi-img-wrpr {
        margin-top: 30px;
    }

    .bmi-img-bg {
        left: 16%;
        transform: scale(0.7);
    }

    .bmi-img {
        right: 87px;
        top: -234px;
        scale: 2.3;
    }

    /* Sponsorship Section */
    .autoScroll-item {
        width: 90px;
    }

    @keyframes slideRight {
        0% {
            right: -40%;
        }

        100% {
            right: 190%;
        }
    }

}