:root {
    --transparent-white: rgba(255, 255, 255, 0.16);
    --transparent-white-border: rgba(255, 255, 255, 0.26);
    --yellow-color: #f2ff00;
    --black-color: #000000;
    --white-color: #ffffff;
    --login-bg-color: rgba(255, 247, 0, 0.1);
    --text-color-50: #ffffff80;
    --grey-color: #4e4e4e;
}

a,
span {
    display: inline-block;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
}

body,
html {
    font-family: "Clash Display", sans-serif;
    overflow-x: hidden;
}

p,
figure {
    padding: 0 !important;
    margin: 0 !important;
}

h1,
h2,
h3 {
    font-family: "Akira Expanded", sans-serif;
    font-weight: 900;
    font-style: normal;
    margin: 0;
}

.swiper1,
.mySwiper,
.mySwiper2,
.mySwiper3,
.mySwiper4 {
    cursor: grabbing;
}

/* Modal Section */

.modal-content {
    background-color: transparent;
    border: none;
    border-radius: 0;
}

.login-box {
    background: linear-gradient(to bottom,
            rgba(242, 255, 0, .95) 0%,
            rgba(0, 0, 0, .95) 100%);
    padding: 10px;
    border-radius: 10px;
}

.modal-close {
    color: var(--yellow-color);
    font-size: 25px;
    border: none;
    outline: none;
    background: transparent;
    display: flex;
    justify-content: end;
}

.left-modal {
    padding: 50px 50px 0;
}

.modal-line {
    margin-left: 10px;
}

.modal-title {
    font-size: 27px;
    color: var(--white-color);
    margin: 10px 0;
}

.modal-inputBox {
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 15px 20px;
}

.all-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    align-items: center;
    display: flex;
    text-transform: capitalize;
}

.modal-form {
    margin-top: 50px;
}

.user-icon {
    color: var(--yellow-color);
    font-size: 24px;
    margin-right: 10px;
}

.form-name {
    font-size: 15px;
    color: var(--white-color);
    transition: opacity 0.3s linear;
}

.modal-input {
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    color: white;
    font-size: 15px;
    padding-left: 40px;
    position: relative;
}

.password-wrapper {
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.3);
    font-size: 20px;
    transition: color 0.2s;
}

.toggle-password:hover {
    color: var(--yellow-color);
}

.form-name.hide-label {
    opacity: 0;
    visibility: hidden;
}

.gender-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid var(--yellow-color);
    background: transparent;
    margin: 5px 0 0;
    color: var(--white-color);
    padding: 0;
    z-index: 10;
    border-radius: 4px;
}

.gender-dropdown li {
    padding: 8px 10px;
    cursor: pointer;
}

.gender-dropdown li:hover {
    background: rgba(255, 255, 255, 0.3);
}

.right-modal {
    background: url(../assets/modal-rightBG.png) no-repeat center/cover;
    border-radius: 10px;
}

.modal-logo {
    max-width: 90px;
    margin-left: auto;
    margin-right: 50px;
    padding-top: 50px;
}

.modal-logo>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rightModal-bottom {
    padding: 551px 50px 50px;
}

.modal-para {
    color: var(--white-color);
}

.modalBottom-para {
    margin-top: 30px;
}

.modal-para2 {
    color: var(--white-color);
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
}

.modalPara-box {
    display: flex;
    align-items: center;
    justify-content: end;
}

.modal-circle {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    border: 3px solid var(--white-color);
    margin-right: 10px;
}

.form-check {
    margin: 24px 0;
}

.form-check-input {
    border-radius: 50% !important;
    width: 24px;
    height: 24px;
    background: transparent;
    margin-right: 10px;
    cursor: pointer;
}

.form-check-input:checked {
    background-color: transparent;
    border-color: var(--yellow-color);
    color: var(--yellow-color);
    background: url(../assets/checkModal.svg) no-repeat center/contain;
    background-size: 15px;
}

.form-check-label {
    font-size: 17px;
    color: var(--grey-color);
}

.condition {
    color: var(--white-color);

    &:hover {
        text-decoration: underline;
    }
}

.modal-btn {
    margin-bottom: 12px;
}

.modal-login {
    font-size: 17px;
    color: var(--grey-color);
}

.modal-btnLabel::before,
.modal-btnLabel::after {
    background: none !important;
}

.alrdy-acc {
    color: var(--white-color);

    &:hover {
        color: var(--yellow-color);
    }
}

/* Custom Cursor */
.cursor {
    mix-blend-mode: difference;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    border: 10px solid var(--yellow-color);
    transition: all 200ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
    z-index: 9999;
}

.hover {
    border: 10px solid blueviolet;
}

/* Header Section */
.hdr-sec {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 20;
}

.hdr-container {
    max-width: 1840px;
}

.navbar-brand {
    max-width: 172px;
}

.navbar-brand>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar-nav {
    background: var(--transparent-white);
    backdrop-filter: blur(13px);
    border-radius: 56px;
    border: 1px solid var(--transparent-white-border);
    padding: 0 5px !important;
}

.nav-link {
    padding: 10px 20px !important;
    color: var(--white-color);
    transition: all 0.5s ease-in;
    font-size: 18px;

    &:hover {
        background-color: var(--black-color);
        border-radius: 56px;
        color: var(--white-color);
    }
}

.nav-item:last-child {
    margin-right: 20px;
}

.nav-link.active {
    background-color: var(--yellow-color);
    padding: 10px 20px !important;
    border-radius: 110px;
    color: var(--black-color);
}

.search-group {
    display: flex;
    align-items: center;
    max-width: 370px;
    background-color: var(--black-color);
    border: 2px solid transparent;
    color: white;
    border-radius: 74px;
    cursor: pointer;
    padding: 10px 15px;
    margin-right: 5px;
}

.input {
    width: 200%;
    border: none;
    outline: none;
    background: none;
    transition: 0.3s ease;
    font-size: 16px;
    color: white;
}

.input::placeholder {
    color: #9e9ea7;
}

.fa-magnifying-glass {
    font-size: 16px;
    margin-right: 5px;
}

.cart-link {
    max-width: 64px;
}

.cart-link>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-link {
    margin-left: 12px;
}

.login-io-button {
    background: transparent;
    backdrop-filter: blur(5px);
    color: var(--yellow-color);
    padding: 20px 20px 20px 41px;
    font-size: 18px;
    border-radius: 37.5px;
    border: 1px solid var(--yellow-color);
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    padding: 15px;
    cursor: pointer;
    position: relative;
}

.login-io-button .login-icon {
    background: var(--yellow-color);
    opacity: 0.1;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.8em;
    width: 2.8em;
    border-radius: 35px;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
    right: 0.3em;
    transition: all 0.3s;
}

.login-io-button:hover .login-icon {
    width: calc(100% - 0.6em);
    opacity: 0.9;
}

.login-io-button .login-icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: var(--black-color);
}

.login-io-button:hover .login-icon svg {
    transform: translateX(0.1em);
}

.login-io-button:active .login-icon {
    transform: scale(0.95);
}

.navbar-toggler-icon {
    font-size: 20px;
    border-radius: 20%;
    border: none;
    outline: none;
    background-image: none;
}

.navbar-toggler {
    padding: 0;
    border: none;
    outline: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.offcanvas {
    flex-direction: row;
    align-items: center;
}

.btn-close {
    font-size: 20px;
    background: none;
    color: var(--tertiary-color);
}

.dropdown-menu {
    background: linear-gradient(to top,
            rgba(255, 251, 0, 0.9) 50%,
            rgba(0, 0, 0, 0.9) 100%);
    padding: 5px 19px 5px 5px !important;
}

.dropdown-menu>li {
    margin-bottom: 5px;
}

.dropdown-menu>li:last-child {
    margin-bottom: 0;
}

.dropdown-item {
    padding: 10px 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 350px;
    text-transform: capitalize;
}

.dropdown-menu[data-bs-popper] {
    top: 140%;
}

/* Banner Section */

.bnr-sec {
    background: url(../assets/bg-img.png) no-repeat center/cover;
    padding: 495.13px 0 122px;
    display: flex;
    align-items: end;
    background-attachment: fixed;
    position: relative;
}

.bnr-sec::before {
    content: "";
    z-index: 2;
    filter: blur(872px);
    background: #f7e700;
    width: 500px;
    height: 500px;
    position: absolute;
    bottom: 0;
    right: 0;

}

.bnr-row {
    align-items: center;
}

.para {
    font-size: 27px;
    font-weight: 500;
}

.bnr-cntn {
    max-width: 600px;
}

.bnr-para {
    background: linear-gradient(to right, #fff, #6e6e6e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.gym-img {
    max-width: 98px;
    display: flex;
    align-items: center;
    margin: 40px 0;
}

.gym-logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: -25px;
    animation: logo 4s alternate infinite linear;
}

.gym-logo:nth-child(2) {
    animation-delay: 1s;
}

.gym-logo:nth-child(3) {
    animation-delay: 2s;
}

.gym-logo:nth-child(4) {
    animation-delay: 3s;
}

@keyframes logo {

    0%,
    100% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(6px);
    }

    50% {
        transform: translateY(8px);
    }

    75% {
        transform: translateY(6px);
    }
}

.gym-logo:first-child {
    margin-left: 0;
}

.para-box {
    max-width: 300px;
}

.para-hdr {
    -webkit-text-fill-color: var(--yellow-color);
}

.scroll {
    display: flex;
    align-items: center;
}

.scroll>hr {
    width: 2px;
    height: 33px;
    background-color: var(--white-color);
    margin-right: 16.5px;
}

.scroller {
    font-size: 27px;
    font-weight: 500;
    color: var(--white-color);
}

.bnr-hdr {
    max-width: 1220px;
}

.title-1 {
    font-size: clamp(2.8rem, calc(7vw + 1rem), 10.86rem);
    text-transform: uppercase;
    color: var(--white-color);
    position: relative;
}

.title1-span {
    color: var(--yellow-color);
}

.bnr-line {
    width: 148px;
    display: inline-block;
    position: absolute;
    top: 52%;
}

.bnr-line>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bnr-btn {
    width: 310px;
    height: 56px;
    overflow: hidden;
    border: none;
    color: #fff;
    background: none;
    position: relative;
    padding-bottom: 2em;
    cursor: pointer;
}

.bnr-btn>.visit-div,
.bnr-btn>.visit-svg {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

.bnr-btn:before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: bottom right;
    background: currentColor;
    transition: transform 0.25s ease-out;
}

.bnr-btn:hover:before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.bnr-btn .clone>*,
.bnr-btn .text>* {
    opacity: 1;
    font-size: 33px;
    transition: 0.2s;
    margin-left: 4px;
    text-transform: capitalize;
}

.bnr-btn .clone>* {
    transform: translateY(60px);
}

.bnr-btn:hover .clone>* {
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.bnr-btn:hover .text>* {
    opacity: 1;
    transform: translateY(-60px);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.bnr-btn:hover .clone> :nth-child(1) {
    transition-delay: 0.15s;
}

.bnr-btn:hover .clone> :nth-child(2) {
    transition-delay: 0.2s;
}

.bnr-btn:hover .clone> :nth-child(3) {
    transition-delay: 0.25s;
}

.bnr-btn:hover .clone> :nth-child(4) {
    transition-delay: 0.3s;
}

.bnr-btn .visit-svg {
    width: 20px;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(-50deg);
    transition: 0.2s ease-out;
}

.bnr-btn:hover svg {
    transform: translateY(-50%) rotate(-90deg);
}

.visit-btn {
    margin-top: 50px;
}

/* Fitness Card Section */

.fitnessCard-sec {
    background: var(--black-color);
}

.swiper {
    overflow: visible;
}

.card-container {
    max-width: 1940px;
    padding: 0;
}

.fitness-slider {
    padding: 24px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.swiper-slideCntn {
    max-width: 592px;
}

.card-swipe {
    position: relative;
    z-index: 999;
}

.card-swipe1 {
    background: url(../assets/card-bg1.png) no-repeat center/cover;
    padding: 50px;
}

.card-swipe2 {
    padding: 50px;

    background: url(../assets/card-bg2.png) no-repeat center/cover;
}

.card-swipe3 {
    padding: 50px;
    background: url(../assets/card-bg3.png) no-repeat center/cover;
}

.frame-line {
    max-width: 60px;
}

.frame-line>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.title-2 {
    font-size: 22px;
    color: var(--white-color);
    text-transform: uppercase;
    margin-top: 10px;
}

.number {
    font-family: "Akira Expanded", sans-serif;
    font-size: 139px;
    color: transparent;
    -webkit-text-stroke: 2px var(--text-color-50);
}

.card-img,
.card-img2,
.card-img3 {
    z-index: -1;
}

.card-img {
    max-width: 196px;
    position: absolute;
    right: 10px;
    bottom: 35px;
    transform: scale(1.18);
}

.card-img2 {
    max-width: 211px;
    position: absolute;
    right: 0px;
    bottom: 35px;
    transform: scale(1.18);
}

.card-img3 {
    max-width: 480px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.card-img>img,
.card-img2>img,
.card-img3>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* About Section */
.abt-sec {
    padding: 160px 0 80px;
    background-color: var(--black-color);
}

.abt-container {
    max-width: 1740px;
}

.abt-row {
    padding-bottom: 80px;
}

.abt-hdr {
    display: flex;
    align-items: center;
}

.abt-line {
    margin-left: 24px;
}

.title-3 {
    font-size: 27px;
    font-weight: 900;
    color: var(--white-color);
    text-transform: uppercase;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 36px;
}

.title-3::before {
    content: "";
    width: 26px;
    height: 26px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 2px;
    background: transparent;
    border: 5px solid var(--yellow-color);
}

.abt-para {
    font-size: 35px;
    background: linear-gradient(to right, #fff, #1c1c1c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.abt-img {
    max-width: 675px;
}

.abt-img>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.title-4 {
    font-size: 35px;
    font-weight: 500;
    color: var(--white-color);
    font-family: "Clash Display", sans-serif;
}

.abtPara-box {
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.para2 {
    font-size: 18px;
    font-weight: normal;
    color: var(--white-color);
    opacity: 0.5;
}

.cst-icon {
    padding: 12px 21px;
    background-color: var(--yellow-color);
    max-width: 99.28px;
    height: 99.28px;
}

.cst-icon>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.customer-care {
    display: flex;
}

.cst-para {
    margin-left: 24px;
    padding-top: 10.28px;
}

.support {
    color: var(--white-color);
    font-weight: 500;
}

.cst-support {
    font-size: 23px;
    text-transform: uppercase;
}

.cst-number {
    color: var(--yellow-color);
    font-size: 31px;
}

/* Service Section */

.srvc-sec {
    background-color: var(--black-color);
    padding: 80px 0;
}

.srvc-trng {
    padding: 57px 0;
    max-width: 1160px;
    margin: 0 auto;
}

.trng-link {
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
    z-index: 999;

    &:hover {
        border-bottom: none;
    }
}

.trng-title,
.right-arrow {
    font-size: 45px;
    font-weight: 900;
    color: var(--white-color);
    text-transform: uppercase;
}

.trng-img {
    max-width: 388px;
    transform: rotate(6deg);
    position: absolute;
    bottom: -4px;
    right: 13%;
    transition: all 0.3s ease;
    z-index: -1;
}

.trng-img>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.right-arrow {
    transition: 0.3s ease;
    position: absolute;
    bottom: 0;
    right: 8%;
}

.trng-link:before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: bottom right;
    background: var(--white-color);
    transition: transform 0.25s ease-out;
}

.trng-link:hover:before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.trng-link:hover .trng-img {
    transform: rotate(-7deg);
}

.trng-link:hover .right-arrow {
    transform: rotate(-30deg);
}

/* Gym About Section */

.gymAbt-sec {
    background: url(../assets/gymAbtCard-bg.png) no-repeat center/cover;
    background-attachment: fixed;
    padding: 80px 0;
}

.gym-abtimg {
    max-width: 698px;
}

.gym-abtimg>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.gym-grid {
    display: flex;
}

.gymAbt-cntn {
    max-width: 412px;
    padding: 30px;
    z-index: 1;
    position: relative;
    border: 1px solid var(--yellow-color);
    margin-bottom: 24px;
}

.gymAbt-cntn::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, #f2ff00 0%, #f2ff00 100%);
    opacity: 0.3;
    z-index: -1;
}

.fa-check {
    font-size: 29px;
    color: var(--yellow-color);
}

.title-5 {
    font-size: 16px;
    margin: 22px 0;
    color: var(--white-color);
}

.grid-box {
    margin: 24px 0;
}

/* Coach Section */

.coach-sec {
    background: var(--black-color);
    padding: 80px 0 160px;
}

.swiper-slide2 {
    padding: 24px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.coach-swipe {
    max-width: 592px;
    padding: 317px 24px 24px;
    position: relative;
}

.coach-swipe1 {
    background: url(../assets/coachBg1.png) no-repeat center/cover;
}

.coach-swipe2 {
    background: url(../assets/coachBg2.png) no-repeat center/cover;
}

.coach-swipe3 {
    background: url(../assets/coachBg3.png) no-repeat center/cover;
}

.coach-title {
    font-size: 16px;
    font-weight: 900;
    margin-top: 15px;
}

.coach-para {
    font-size: 42px;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.5);
    text-transform: capitalize;
}

.coach-img {
    max-width: 570px;
    position: absolute;
    top: 0;
    z-index: 2;
    transform: scale(1.3);
}

.coach-img>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.swiper-pagination {
    bottom: -80px !important;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    border-radius: 1px;
    opacity: 1;
    background: rgba(255, 255, 255, 0.5);
}

.swiper-pagination-bullet-active {
    background: var(--yellow-color);
}

/* Plan Section */

.plan-sec {
    background-color: var(--black-color);
    padding: 80px 0;
}

.rate-card {
    background: url(../assets/rate-cardBG.png) no-repeat center/cover;
    max-width: 591px;
    padding: 24px;
    position: relative;
    margin: 0 auto;
    z-index: 999;
}

.rateCard-line {
    position: absolute;
    top: 55px;
    right: 31px;
}

.card-line {
    width: 20px;
    height: 50px;
    background-color: var(--yellow-color);
    display: block;
    transform: skew(45deg);
    z-index: -1;
}

.rateCard-title {
    font-size: 16px;
    font-weight: 900;
    margin-top: 10px;
}

.amount {
    font-size: 53px;
    font-weight: 600;
    color: var(--white-color);
    margin-top: 100px !important;
}

.fa-circle-check {
    margin-right: 10px;
}

.rate-item {
    margin-top: 30px !important;
    margin-bottom: 100px !important;
}

.rateItem-list {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
}

.rateItem-list:nth-child(1),
.rateItem-list:nth-child(2),
.rateItem-list:nth-child(3) {
    margin-bottom: 10px;
}

.membership-btn {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--white-color);
    position: relative;
    transition: 0.5s ease;
    background: transparent;
    z-index: 1;
    border: 8px ridge var(--yellow-color);
    border-radius: 0.3em;
}

.membership-btn::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 22%;
    background: url(../assets/rate-cardBG.png) no-repeat center/cover;
    transition: 0.5s;
    transform-origin: center;
}

.membership-btn::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 98%;
    left: 0%;
    width: 100%;
    height: 22%;
    background: url(../assets/rate-cardBG.png) no-repeat center/cover;
    transition: 0.5s;
}

.membership-btn:hover::before,
.membership-btn:hover::after {
    transform: scale(0);
}

.membership-btn:hover {
    box-shadow: inset 0px 0px 25px var(--yellow-color);
}

/* Location Section */

.location-sec {
    padding: 80px 0 120px;
    background: url(../assets/Rate-card.png) no-repeat center/cover;
}

.location-para {
    display: flex;
    align-items: center;
    margin-top: 80px;
}

.cmn-para {
    font-size: 48px;
    color: var(--white-color);
}

.para3 {
    background: linear-gradient(to right, #bfbdbdf7, rgba(0, 0, 0, 0.9));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.yellow-para {
    color: var(--yellow-color);
}

.location-row {
    margin-top: 30px;
    align-items: center;
}

.para4 {
    color: var(--yellow-color);
}

.para4>span {
    color: var(--white-color);
}

.contry-nmbr {
    font-size: 81px;
    font-weight: 700;
    color: var(--white-color);
}

.contry-nmbr>span:nth-child(1) {
    color: var(--yellow-color);
}

.cntry {
    font-size: 32px;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.5);
}

.loaction-cntn {
    padding-left: 30px;
}

.devider {
    border-right: 1px solid hsla(0, 0%, 100%, 0.5);
}

.map {
    max-width: 1400px;
    margin: 80px auto 0 !important;
}

.map>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Transformation Section */
.trnsfrm-sec {
    padding: 468px 0 0;
    background: url(../assets/body-builderBg.png);
    position: relative;
    z-index: 1;
}

.body-builder {
    max-width: 678px;
    position: absolute;
    bottom: 84px;
    right: 50%;
    transform: translateX(50%);
    z-index: -1;
}

.body-builder>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.trnsfrm-cntn {
    text-align: center;
    position: relative;
}

.trnsfrm-line {
    margin: 50px 0;
}

.line-2 {
    width: 10px;
    height: 26px;
    background-color: var(--yellow-color);
    transform: skew(-45deg);
    margin-left: 10px;
}

.line-2:first-child {
    margin-left: 0;
}

.title-trnsfrm {
    font-size: 45px;
    color: var(--white-color);
}

.title-trnsfrm2 {
    font-size: 77px;
    color: var(--yellow-color);
}

.trnsfrm-box {
    max-width: 1000px;
    margin: 0 auto;
}

/* Footer Section */
.ftr-sec {
    padding: 80px 0;
    background: var(--black-color);
}

.ftr-row {
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 80px;
}

.ftr-row2 {
    align-items: center;
}

.ftrCntn-hdr {
    font-size: 42px;
    font-weight: 500;
    color: var(--white-color);
    transition: 0.3s linear;

    &:hover {
        color: var(--yellow-color);
        transform: scale(1.04);
    }
}

.ftrCntn-hdr>span {
    font-size: 39px;
}

.ftr-social {
    margin: 50px 0 34px !important;
}

.ftr-socialLink {
    max-width: 500px;
    margin: 0 auto;
}

.ftr-socialLink:nth-child(1),
.ftr-socialLink:nth-child(2) {
    margin-bottom: 8px;
}

.social-media {
    display: flex;
    align-items: center;
    font-size: 21px;
    font-weight: 500;
    color: var(--white-color);
    position: relative;

    &:hover {
        color: var(--yellow-color);
    }
}

.ftrRight-arrow {
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.3s ease-in;
}

.social-media:hover .ftrRight-arrow {
    transform: rotate(-30deg);
}

.social-media:before,
.ftr-navLink:before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: bottom right;
    background: var(--yellow-color);
    transition: transform 0.25s ease-out;
}

.social-media:hover:before,
.ftr-navLink:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.ftr-nav {
    display: flex;
    align-items: end;
    flex-direction: column;
}

.ftr-brandLogo {
    max-width: 470px;
}

.ftr-brandLogo>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ftrNav-bar {
    display: flex;
    align-items: center;
}

.ftr-navLi {
    margin-right: 20px;
}

.ftr-navLi>hr {
    width: 1px;
    height: 15px;
    background: var(--white-color);
    opacity: 1;
}

.ftr-navLi:last-child {
    margin-right: 0;
}

.ftr-navLink {
    font-size: 18px;
    font-weight: 500;
    color: var(--white-color);
    transition: 0.3s ease-out;

    &:hover {
        color: var(--yellow-color);
        transform: translateY(-5px) scale(1.05);
    }
}

.ftr-bottom {
    padding-top: 37px;
}

.btm-hdr {
    font-size: 52px;
    font-weight: 500;
    color: var(--white-color);
}

.btm-para {
    font-size: 20px;
    max-width: 500px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
}

.ftrInput-container {
    position: relative;
    max-width: 860px;
}

.styled_input_bar {
    width: 90%;
    padding: 38px 24px;
    font-size: 1em;
    border: 0.1em solid grey;
    border-radius: 2em;
    background-color: transparent;
    color: white;
    outline: none;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.styled_input_bar::placeholder {
    color: grey;
    transition: all 0.3s ease;
}

.styled_input_bar:focus {
    border-color: white;
}

.styled_input_bar:focus::placeholder {
    color: transparent;
}

.ftrInput-label {
    position: absolute;
    left: 1.2em;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5em;
    color: grey;
    pointer-events: none;
    transition: all 0.3s ease;
    text-transform: capitalize;
}

.styled_input_bar:focus+.ftrInput-label,
.styled_input_bar:not(:placeholder-shown)+.ftrInput-label {
    top: 0.1em;
    left: 1.4em;
    font-size: 1.2em;
    color: white;
    background-color: var(--black-color);
    padding: 0 0.5em;
}

.styled_input_bar:not(:focus):not(:placeholder-shown)+.ftrInput-label {
    color: grey;
}

.cssbuttons-io-button {
    background: var(--yellow-color);
    color: var(--black-color);
    padding: 20px 20px 20px 41px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 0.9em;
    right: 15%;
    top: 22%;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: absolute;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
}

.cssbuttons-io-button .icon {
    background: var(--yellow-color);
    opacity: 0.9;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
    right: 0.3em;
    transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #7b52b9;
}

.cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}

/* Responsive Section */

@media screen and (max-width: 1200px) {

    /* Modal Section */
    .left-modal {
        padding: 25px 5px 0;
    }

    .right-modal {
        margin-top: 50px;
    }

    /* Header Section */
    .offcanvas {
        background: transparent;
        backdrop-filter: blur(10px);
        flex-direction: column;
    }

    .navbar-nav {
        margin: 50px !important;
        padding: 10px 0 !important;
    }

    .nav-link {
        color: var(--black-color);
        margin-bottom: 30px;
    }

    .search-group {
        margin-bottom: 30px;
    }

    .fa-bars,
    .fa-xmark {
        font-size: 3rem;
        color: var(--yellow-color);
    }

    .navbar-toggler {
        padding: 0 15px;
    }

    /* Banner Section */

    .bnr-hdr {
        margin: 30px 0;
        max-width: 1000px;
    }

    .bnr-line {
        width: 109px;
        top: 53%;
    }

    .bnr-btn {
        width: 240px;
    }

    /* Fitness Card Section */
    .card-swipe {
        padding: 30px;
    }

    .card-img {
        max-width: 196px;
        transform: none;
        bottom: 0;
    }

    .card-img2 {
        max-width: 200px;
        transform: none;
        bottom: 0;
    }

    .title-2 {
        font-size: 18px;
    }

    /* About Section */
    .abt-hdr {
        margin-bottom: 30px;
        justify-content: center;
    }

    .abt-para,
    .abt-cntn {
        text-align: center;
    }

    .abt-img {
        margin: 0 auto 30px !important;
    }

    .customer-care {
        justify-content: center;
    }

    /* Service Section */

    .srvc-hdr {
        margin-bottom: 200px;
    }

    .trng-title,
    .right-arrow {
        font-size: 38px;
    }

    /* Gym About Section */
    .gym-abtimg {
        margin: 0 auto !important;
    }

    .gym-grid {
        justify-content: center;
    }

    /* Location Section */
    .location-para {
        flex-direction: column;
    }

    .location-para2,
    .loaction-cntn,
    .location-para {
        text-align: center;
    }

    .loaction-cntn {
        margin-top: 20px;
    }

    .devider {
        border-right: none;
        border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);
        padding-bottom: 30px;
    }

    /* Transformation Section */

    .trnsfrm-sec {
        padding-top: 322px;
    }

    .title-trnsfrm {
        font-size: 30px;
    }

    .title-trnsfrm2 {
        font-size: 55px;
    }

    /* Footer Section */
    .ftr-cntn {
        text-align: center;
    }

    .ftr-nav {
        align-items: center;
        margin-top: 30px;
    }

    .ftrBtm-cntn {
        text-align: center;
    }

    .btm-para {
        max-width: 100%;
    }

    .ftrInput-container {
        margin: 30px auto 0;
        text-align: center;
    }

    .ftrInput-label {
        left: 3.2em;
    }

    .styled_input_bar:focus+.ftrInput-label,
    .styled_input_bar:not(:placeholder-shown)+.ftrInput-label {
        left: 4.4em;
    }
}

@media screen and (max-width: 992px) {
    /* Fitness Section */

    .card-img3 {
        max-width: 406px;
    }

    /* Service Section */

    .trng-title,
    .right-arrow {
        font-size: 30px;
    }

    .trng-img {
        max-width: 306px;
    }

    /* Location Section */
    .cmn-para {
        font-size: 38px;
    }

    /* Transformation Section */
    .trnsfrm-sec {
        padding-top: 142px;
    }

    .title-trnsfrm2 {
        font-size: 43px;
    }
}

@media screen and (max-width: 768px) {

    /* Modal Section */
    .modal-para2 {
        font-size: 16px;
    }

    /* Header Section */
    .navbar-brand {
        max-width: 124px;
    }

    /* Banner Section */

    .bnr-hdr {
        max-width: 635px;
    }

    .bnr-line {
        width: 73px;
    }

    /* Fitness Card Section */
    .card-img3 {
        max-width: 375px;
    }

    /* About Section */
    .title-4 {
        font-size: 25px;
    }

    .para2 {
        font-size: 16px;
    }

    /* Service Section */

    .trng-title,
    .right-arrow {
        font-size: 26px;
    }

    /* Plan Section */
    .card-line {
        width: 12px;
    }

    /* Transformation Section */

    .trnsfrm-sec {
        padding-top: 278px;
    }

    .trnsfrm-box {
        margin: 64px auto 0;
    }

    .title-trnsfrm2 {
        font-size: 32px;
    }

    .trnsfrm-para {
        font-size: 23px;
    }

    .title-trnsfrm {
        font-size: 21px;
    }

    /* Footer Section */
    .ftr-brandLogo {
        max-width: 300px;
    }

    .ftr-navLink {
        font-size: 13px;
    }
}

@media screen and (max-width: 576px) {
    /* MOdal Section */

    .modal-form {
        margin-top: 25px;
    }

    .line-2 {
        width: 10px;
        height: 22px;
    }

    .modal-title {
        font-size: 22px;
    }

    .modal-inputBox {
        padding: 12px 5px;
    }

    .user-icon,
    .toggle-password {
        font-size: 16px;
    }

    .form-name {
        font-size: 14px;
    }

    .rightModal-bottom {
        text-align: center;
    }

    .modalPara-box {
        justify-content: center;
        margin-top: 10px;
    }

    .form-check-label {
        font-size: 16px;
    }

    .form-check-input {
        width: 20px;
        height: 20px;
    }

    /* Custom Cursor */
    .cursor {
        display: none;
    }

    /* Header Section */
    .navbar-nav {
        margin: 10px !important;
    }

    .fa-bars,
    .fa-xmark {
        font-size: 2rem;
    }

    .nav-link,
    .search-group {
        margin-bottom: 15px;
    }

    .login {
        margin-top: 5px;
    }

    /* Banner Section */
    .para {
        font-size: 18px;
    }

    .bnr-hdr {
        max-width: 290px;
    }

    .bnr-btn .clone>*,
    .bnr-btn .text>* {
        font-size: 21px;
    }

    .bnr-btn svg {
        top: 30%;
    }

    .bnr-btn {
        width: 154px;
    }

    .bnr-btn:before {
        bottom: 15px;
    }

    .bnr-line {
        width: 46px;
    }

    /* Fitness Card Section */
    .card-img3 {
        max-width: 310px;
    }

    /* About Section */
    .cst-icon {
        max-width: 72px;
        height: 72px;
    }

    .cst-support {
        font-size: 16px;
    }

    .cst-number {
        font-size: 19px;
    }

    .abt-sec {
        padding: 83px 0 80px;
    }

    .abt-row {
        padding: 0 !important;
    }

    .frame-line {
        max-width: 30px;
    }

    .abt-line {
        margin-left: 5px;
    }

    .title-3 {
        font-size: 17px;
        padding-left: 28px;
    }

    .title-3::before {
        width: 20px;
        height: 20px;
        border: 3px solid var(--yellow-color);
        top: -1px;
    }

    .para2 {
        font-size: 14px;
    }

    /* Service Section */
    .trng-img {
        max-width: 178px;
    }

    .trng-title,
    .right-arrow {
        font-size: 15px;
    }

    .srvc-hdr {
        margin-bottom: 35px;
    }

    .srvc-sec {
        padding: 30px 0;
    }

    /* Gym About Section */
    .title-5 {
        font-size: 13px;
        margin: 13px 0;
    }

    .fa-check {
        font-size: 16px;
    }

    .gym-para {
        font-size: 16px;
    }

    .gridCard {
        padding: 20px;
    }

    /* Coach Section */
    .coach-para {
        font-size: 31px;
    }

    .swiper-pagination-bullet {
        width: 15px;
        height: 15px;
    }

    .coach-swipe {
        padding: 185px 24px 24px;
    }

    .abtHdr-para {
        margin-bottom: 30px;
    }

    /* Rate Card Section */
    .card-line {
        width: 7px;
        height: 30px;
    }

    .rateCard-line {
        top: 122px;
    }

    .rateItem-list {
        font-size: 13px;
    }

    .membership-btn {
        font-size: 15px;
        padding: 13px 0;
    }

    .amount {
        font-size: 34px;
        margin-top: 50px !important;
    }

    .rate-item {
        margin-bottom: 50px;
    }

    /* Locaton Section */

    .cmn-para {
        font-size: 25px;
    }

    .contry-nmbr {
        font-size: 40px;
    }

    .cntry {
        font-size: 29px;
    }

    .loaction-cntn {
        padding-left: 0;
    }

    /* Transformation Section */
    .trnsfrm-sec {
        padding-top: 120px;
    }

    .title-trnsfrm2 {
        font-size: 23px;
        backdrop-filter: blur(40px);
    }

    .title-trnsfrm {
        font-size: 16px;
    }

    .trnsfrm-para {
        font-size: 19px;
        background: white;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
    }

    /* Footer Section */
    .ftr-brandLogo {
        max-width: 150px;
    }

    .ftrNav-bar {
        flex-wrap: wrap;
        justify-content: center;
    }

    .btm-hdr {
        font-size: 35px;
    }

    .btm-para {
        font-size: 14px;
    }

    .cssbuttons-io-button {
        right: 25%;
        top: 115%;
    }

    .styled_input_bar {
        padding: 24px;
    }

    .ftrCntn-hdr>span {
        font-size: 32px;
    }
}

@media screen and (max-width: 431px) {

    /* Fitness Section */
    .card-img3 {
        max-width: 280px;
    }

    /* Map Section */

    .map-sec {
        padding: 35px 0;
    }

    /* Transformation Section */

    .trnsfrm-para {
        font-size: 19px;
    }

    .trnsfrm-box {
        margin: 71px auto 0;
    }

    .body-builder {
        transform: translateX(50%) scale(1.6);
    }
}