:root {
    --transparent-white: rgba(255, 255, 255, 0.16);
    --transparent-white-border: rgba(255, 255, 255, 0.26);
    --yellow-color: #f2ff00;
    --black-color: #000000;
    --white-color: #ffffff;
    --login-bg-color: rgba(255, 247, 0, 0.1);
    --text-color-50: #ffffff80;
}


/* Banner Section */
.bnr-sec {
    background: url(../assets/workout-bg.png) no-repeat center/cover;
    background-attachment: fixed;
    padding: 490px 0 60px;
}

.ylw-title {
    color: var(--yellow-color);
}


/* Project Section */
.prjct-sec {
    padding: 104px 0;
    background: var(--black-color);
}

.prjct-cntn {
    padding: 4px 24px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.prjct-line {
    margin-left: 10px;

}

.prjct-nmbr {
    font-size: 16px;
    color: var(--white-color);
    margin: 10px 0 24px;
    text-transform: uppercase;
}

.prjct-card>p {
    font-size: 33px;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--white-color);
}

/* Workout Section */
.abt-hdr {
    margin-bottom: 80px;
}

.selection-btn {
    border: 1px solid rgba(255, 255, 255, 0.5);
    outline: none;
    background: transparent;
    padding: 24px 49px;
    width: 100%;
    justify-content: center;
}

.selection-title {
    font-size: 13px;
    color: var(--white-color);
    margin-right: 20px;
}

.slc-icon {
    color: var(--white-color);
    font-size: 13px;
    transition: transform 200ms ease;
    transform-origin: center;
}

.slc-icon.rotated {
    transform: rotate(-90deg) translateX(4px);

}

.dowpdown-list {
    width: 100%;
    position: absolute;
    opacity: 0;
    background: var(--white-color);
    left: 0;
    top: 100%;
    transition: 0.3s linear;
    z-index: 10;
    pointer-events: none;
}

.dowpdown-list.active {
    opacity: 1;
    pointer-events: auto;
}



.selection-list {

    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 12px;
    width: 100%;
    text-transform: capitalize;
    display: flex;
}

.selection-list>label {
    width: 100%;
    cursor: pointer;
    color: var(--black-color);
    font-size: 18px;

}

.workout-input {
    width: 14px;
    height: 14px;
    border-radius: 1px !important;
}

.workout-input:checked {
    background: var(--yellow-color);

}

.workout-input:focus {
    box-shadow: none;
}

.dropdown-selection {
    position: relative;
    max-width: 430px;
}

/* Fitness Section */
.fit-sec {
    background: url(../assets/fitness-bnr.png) no-repeat center/cover;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.fit-wrpr {
    display: flex;
    justify-content: center;
}


.fit-cntn {
    padding: 46px 65px;
    max-width: 1464px;
    background: rgba(255, 255, 255, 0.34);
}


.fit-cntn>p:nth-child(1) {
    font-size: 47px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
}

.fit-cntn>p:nth-child(2) {
    font-size: 37px;
    color: rgba(255, 255, 255, .5);
    font-weight: normal;
    margin: 39px 0 !important;
}


.fit-btn {
    background: rgba(245, 249, 0, 1);
    opacity: 0.5;

    &:hover {
        color: var(--black-color);
        opacity: 1;
    }
}

/* Question Section */

.question-sec {
    padding: 146px 0;
    background: var(--black-color);
}

.qstn-hdr {
    margin: 144px 0 118px;
}

.qstn-hdr>p {
    font-size: 51px;
    font-weight: 500;
    color: var(--white-color);
}


.accordion-button {
    font-family: "Clash Display", sans-serif;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 9px;
    backdrop-filter: blur(0);
    padding: 20px 10px;
    color: var(--black-color);
    font-size: 24px;
    font-weight: 500;

}

.accordion-button:not(.collapsed) {
    background: var(--yellow-color);
    backdrop-filter: none;
    backdrop-filter: blur(10px);
}

.accordion-item {
    margin-bottom: 86.25px;
}

/* Responsive Section */

@media screen and (max-width:1200px) {

    /* Project Section */
    .prjct-col {
        margin: 30px auto 0;
    }

    /* Workout Section */
    .dropdown-selection:nth-child(1),
    .dropdown-selection:nth-child(2) {
        margin-bottom: 30px;
    }

    /* Fitness Section */
    .fit-cntn {
        padding: 15px 10px;
    }

    .fit-cntn>p:nth-child(1) {
        font-size: 37px;
    }

    .fit-cntn>p:nth-child(2) {
        font-size: 30px;
    }

    /* Question Section */
    .question-sec {
        padding: 80px 0 0;
    }

    .qstn-hdr {
        margin: 80px 0 50px;
    }

    .qstn-hdr>p {
        font-size: 39px;
    }
}


@media screen and (max-width:992px) {

    /* Project Section */
    .prjct-card>p {
        font-size: 31px;
    }

    /* Fitness Section */
    .fit-cntn>p:nth-child(2) {
        font-size: 25px;
    }

    .fit-cntn>p:nth-child(1) {
        font-size: 29px;
    }

}

@media screen and (max-width:768px) {

    /* Project section */
    .cntn-3 {
        margin-top: 30px;
    }

    .prjct-card>p {
        font-size: 25px;
    }

    /* Question Section */
    .qstn-hdr>p {
        font-size: 33px;
    }

    .accordion-button {
        font-size: 18px;
    }

}

@media screen and (max-width:576px) {
    .bnr-sec {
        padding: 400px 0 30px;
    }

    /* Project Section */
    .prjct-sec {
        padding: 80px 0 0;
    }

    .prjct-card>p {
        font-size: 15px;
    }

    /* Workout Section */
    .selection-btn {
        padding: 24px 10px;
    }

    .selection-list>label {
        font-size: 15px;
    }

    /* Fitness Section */
    .fit-cntn>p:nth-child(1) {
        font-size: 18px;
    }

    .fit-cntn>p:nth-child(2) {
        font-size: 13px;
    }

    .qstn-hdr>p {
        font-size: 19px;
    }

    .accordion-button {
        font-size: 13px;
    }

    .accordion-item {
        margin-bottom: 30px;
    }

    .qstn-title {
        font-size: 16px;
    }
}